{% extends "index.html" %}

{% block title %}
REGISTER
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="form-group">
        <input required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username"
            type="text">
    </div>
    <div class="form-group">
        <input required class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input required class="form-control" name="confirm" placeholder="Confirm" type="password">
    </div>
    <button class="btn btn-primary" type="submit">REGISTER</button>
</form>
{% endblock %}